.header {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  size: 1.5rem;
  font-size: 1.3rem;
  max-width: 1200px;
  display: flex;
  margin: auto;
}

.header a {
  text-decoration: none;
  color: #1d3ada;
  font-weight: 500;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
}

.header a:hover {
  opacity: 0.6;
  transition: 0.2s ease;
  /* border: #1d3ada px solid;
  width: 30px;
  border-radius: 70%; */
}
@media screen and (max-width: 700px) {
  .header a {
    font-size: 1.2rem;
    gap: 1rem;
  }
  .header {
    justify-content: space-between;
    gap: 1rem;
    margin: auto;
    padding: 2rem 2rem;
  }
}
